<launch>

    <!-- Unpacks UWB range messages into /uwb/data/* -->
    <node name="uwb_msg_unpacker"
          pkg="uwb_interface"
          type="uwb_msg_unpacker.py"
          output="screen"
    />

    <!-- Unpacks UWB range messages into /uwb/range_measured/* -->
    <node name="uwb_measured"
          pkg="uwb_calibration"
          type="uwb_measured.py"
          output="screen"
    />

    <!-- load asset name to UWB identifier conversions -->
    <rosparam command="load" file="$(find uwb_calibration)/param/vrpn.yaml"/>

    <!-- obtain truth ranges from vrpn -->
    <node name="vrpn_truth"
          pkg="uwb_calibration"
          type="vrpn_truth.py"
          output="screen"
    />

    <!-- run antenna delay calibration node -->
    <node name="antenna_delay_calibration"
          pkg="uwb_calibration"
          type="antenna_delay_calibration.py"
          output="screen"
    />

    <arg name="server" default="mocap.local"/>

    <node pkg="vrpn_client_ros"
          type="vrpn_client_node"
          name="vrpn_client_node"
          output="screen">
      <rosparam subst_value="true">
        server: $(arg server)
        port: 3883

        update_frequency: 100.0
        frame_id: world

        # Use the VRPN server's time, or the client's ROS time.
        use_server_time: false
        broadcast_tf: true

        # Must either specify refresh frequency > 0.0, or a list of trackers to create
        refresh_tracker_frequency: 1.0
        #trackers:
        #- FirstTracker
        #- SecondTracker
      </rosparam>
    </node>


</launch>
